@model Usuario


<h1>Realize a Edição do Usuário</h1>



<form action="EditarUsuario" method="post">

    <input type="text" name="Nome" id="Nome" value="@Model.Nome">

    <input type="text" name="Login" id="Login" value="@Model.Login">

    <input type="text" name="Senha" id="Senha" value="@Model.Senha">



    <select name="tipo" id="Tipo">

        <option value="@Usuario.ADMIN">Administrador</option>

        <option value="@Usuario.PADRAO">Padrão</option>

    </select>



    <input type="hidden" asp-for="Id" />



    <input type="submit" value="CONCLUIR EDIÇÃO">

</form>